.custom-text-primary {
  color: #132530;
}

.custom-bg-primary {
  color: #132530;
}

.custom-border-primary {
  border: #132530 1px solid;
}

/* flatpickr-custom.css */
.flatpickr-calendar {
  font-family: inherit;
  border: 1px solid #132530;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover {
  background: #132530 !important;
  border-color: #132530 !important;
  color: #fff !important;
}

.flatpickr-months .flatpickr-month {
  background: #132530;
  color: #fff;
}

.flatpickr-current-month .cur-month,
.flatpickr-current-month .cur-year {
  color: #fff;
}

.flatpickr-weekdays {
  background: #132530;
  color: #fff;
}

.flatpickr-day.today {
  border: 1px solid #132530;
  color: #132530;
}

/* flatpickr-custom.css */
.flatpickr-months .flatpickr-month {
  background-color: #132530 !important;
  color: #fff !important;
}

.flatpickr-weekdays {
  background-color: #132530 !important;
  color: #fff !important;
}

.flatpickr-weekdays span {
  color: #fff !important;
}

.flatpickr-current-month .cur-month,
.flatpickr-current-month .cur-year {
  color: #fff !important;
}

.text-ellipsis {
  max-width: 150px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
}

.quotation-sheet {

  width: 210mm;
  min-height: 297mm;
  padding: 40px 40px 40px 40px;
  font-size: 11px;
  color: black;

}

.quotation-title {

  font-size: 26px;
  font-weight: 700;
  letter-spacing: 1px;

}

.top-box {

  height: 130px;

}

.quotation-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #000;
}

.quotation-table td {

  border-right: 1px solid #000;
  padding: 2px 4px;
  font-size: 10px;
  font-weight: 400;
  vertical-align: middle;

}

.quotation-table th {

  border: 1px solid #000;
  text-align: center;
  font-weight: 600;
  padding: 4px;

}

.quotation-table tbody tr {

  height: 20px;

}

.terms-box {

  height: 100px;

}

.signature-line {

  border-bottom: 1px solid black;
  margin-top: 10px;

}

@media print {

  html,
  body {
    width: 210mm;
    height: 297mm;
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
    background: white;
  }

  @page {
    size: A4 portrait;
    margin: 0;
  }

  .no-print {
    display: none !important;
  }

  .main-content,
  .page-content,
  .container-fluid {
    margin: 0 !important;
    padding: 0 !important;
  }

  .quotation-sheet {

    width: 210mm !important;
    min-height: 297mm !important;

    padding: 40px 40px 40px 40px !important;

    margin: 0 auto !important;

    box-shadow: none;
    border: none;

    zoom: 100%;
  }

}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }

  100% {
    background-position: 200% 0;
  }
}

.shimmer {
  background: linear-gradient(90deg,
      #f0f0f0 25%,
      #e7e7e7 50%,
      #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

.shimmer td {
  border: 1px solid #ddd;
  padding: 18px;
  background: inherit;
}

.shimmer-card,
.shimmer-card-2,
.shimmer-line,
.shimmer-chart-circle,
.shimmer-chart-column,
.shimmer-box,
.shimmer-chart-block {
  background: linear-gradient(90deg,
      #f0f0f0 25%,
      #e7e7e7 50%,
      #f0f0f0 75%);
  background-size: 200% 100%;
  animation: shimmer 2s infinite;
}

.shimmer-card {
  width: 100%;
  height: 200px;
  border-radius: 12px;
}

.shimmer-card-2 {
  width: 100%;
  height: 150px;
  margin-bottom: 20px;
  border-radius: 12px;
}

.shimmer-line {
  height: 20px;
  width: 100px;
  border-radius: 4px;
  margin-bottom: 6px;
}

.shimmer-chart-circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
}

.shimmer-chart-column {
  width: 40px;
  height: 150px;
  margin: 0 10px;
  border-radius: 6px;
  display: inline-block;
}

.shimmer-box {
  height: 80px;
  border-radius: 8px;
  margin: 12px;
}

.shimmer-chart-block {
  height: 300px;
  border-radius: 8px;
  margin-top: 16px;
}

.return-overlay {
  position: relative;
  opacity: 0.4;
  filter: grayscale(100%);
}