.custom-text-primary {
    color: #2a3266;
}

.custom-bg-primary {
    color: #2a3266;
}

.custom-border-primary {
    border: #2a3266 1px solid;
}

/* flatpickr-custom.css */
.flatpickr-calendar {
    font-family: inherit;
    border: 1px solid #2a3266;
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover {
    background: #2a3266 !important;
    border-color: #2a3266 !important;
    color: #fff !important;
}

.flatpickr-months .flatpickr-month {
    background: #2a3266;
    color: #fff;
}

.flatpickr-current-month .cur-month,
.flatpickr-current-month .cur-year {
    color: #fff;
}

.flatpickr-weekdays {
    background: #2a3266;
    color: #fff;
}

.flatpickr-day.today {
    border: 1px solid #2a3266;
    color: #2a3266;
}

/* flatpickr-custom.css */
.flatpickr-months .flatpickr-month {
    background-color: #2a3266 !important;
    color: #fff !important;
}

.flatpickr-weekdays {
    background-color: #2a3266 !important;
    color: #fff !important;
}

.flatpickr-weekdays span {
    color: #fff !important;
}

.flatpickr-current-month .cur-month,
.flatpickr-current-month .cur-year {
    color: #fff !important;
}